<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trihutt.smartschool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smartschool"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfileSetting" android:parentActivityName=".HomeActivity"></activity>
        <activity android:name=".StudentRegistrationFormDatabase" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".StudentForm" android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>